# -*- mode: fundamental -*-

cmdswap Terminal cmd-c cmd-v cmd-w
cmdswap Terminal shift-cmd-[ shift-cmd-]
cmdswap Terminal cmd-1 cmd-2 cmd-3
cmdswap Terminal cmd-t cmd-n
cmdswap Terminal cmd-` cmd-- cmd-+
